# Ignore virtual environments
.hackathon/
.venv/

# Ignore datasets
datasets/

# Ignore .env file (THIS IS PRIVATE!!! Always keep it hidden and secret on your own local computer.)
.env

# Ignore research papers
research-papers/

# Ignore output directories (for internal testing)
batches/
batch_results/
output/

# Ignore Spark artifacts
artifacts/

# Ignore jsonl files
*.jsonl

# Ignore unnecesary files
report-summary.ipynb

# Ignore csv
*.csv

# Ignore zip
*.zip

# Ignore .DS_Store
.DS_Store